{% extends 'base-template.html' %}
{% block title %}
{{ permohonan.nama_donasi }}
{% endblock %}
{% block content %}
<h1>{{ permohonan.nama_donasi }}</h1>
<img src="{{ permohonan.image_donasi.url }}" alt="image">
<div class="pemohon-deskripsi">
    <div class="pemohon-detail">
        <p>Nama pemohon: {{ permohonan.nama_pemohon }}</p>
        <p>Email: {{ permohonan.email }}</p>
        <p>Nomor telp: {{ permohonan.email }}</p>
    </div>
    <div class="deskripsi">
        <p>{{ permohonan.deskripsi_alasan }}</p>
        <p> 
            Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}
        </p>
        <p>
            Deadline: {{ permohonan.deadline }}
        </p>
    </div>
</div>
<div class="comment-section">
    <form action="" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>
    {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <p>{{ comment.comment }}</p>
                <p>{{ comment.nameUser }}</p>
                <p>{{ comment.dateTime }}</p>
            </div>
        {% endfor %}
    {% endif %}
</div>
{% endblock %}