{% extends 'base-template.html' %}
{% block title %}
List Donasi
{% endblock %}


{% block content %}
<div id="sp_container">
    <div class="pt-4">

            <div class="center" id="sp_search">
                    <form method="GET" action="{% url 'permohonan:list-permohonan' %}">
                            <input class="form-control" type="text" name="query" placeholder="cari donasi...">
                            <div class="center m-4">
                                    <input class="submit" type="submit" value="Search">
                            </div>
                    </form>
            </div>
            
            <div class="card-group row ml-4 mr-4" id="sp_container">
                {% for permohonan in objects %}
                    <div class="col-xl-3 col-md-4 col-12 mb-4" id="sp_card">
                        <div class="card h-100">
                            <img class="card-img-top" src="{{ permohonan.image_donasi.url }}" alt="image">
                            <div class="card-body">
                                <h4 class="card-title">{{ permohonan.nama_donasi }}</h4>
                                <p class="card-text">Kategori: {{ permohonan.kategori_alasan }}</p>
                                <p class="card-text">Deskripsi: {{ permohonan.deskripsi_singkat }}</p>
                                <h5 class="card-text duit">Rp. {{ permohonan.uang_terpenuhi }} / Rp. {{ permohonan.target_uang }}</h5>
                                <p class="card-text">Deadline: {{ permohonan.deadline }}</p>
                                <a href="{% url 'pemberian:daftar_pemberian' id=permohonan.id %}"><button class="submit">Donate</button></a>
                                <a href="{% url 'permohonan:detail-permohonan' id=permohonan.id %}"><p id="details" class="permohonan-details">Details</p></a>            
                            </div>
                    </div>
                    </div>
                {% endfor %}
            </div>
            
            {% endblock %}






    </div>
        
</div>
