{% extends 'base-template.html' %}
{% block title %}
Tentang Kami
{% endblock %}
{% block content %}

<div id="tk_container">

        <div class="center pt-5">
            <h1 id="tk_judul">Tentang Kami</h1>
        </div>


        <div class="center pt-5">
                <h5 id="tk_ket">Situs galang dana no.1 di Indonesia, bantu sesama dengan donasi mudah di Kitabisa.com. Gotong royong membantu banyak saudara kita yang membutuhkan bantuan di Kitabisa.com. Kebaikan menunggumu. Saatnya jadi pahlawan!</h5>
            </div>

        <div class="center mt-5">
            <form  method="post" action="">
                    {% csrf_token %}
                    {{ form.saran }}
                    <div class="center mt-3">
                            <input class="submitputih" type="submit" value="Submit">
                    </div>
                </form>

        </div>

    
    
</div>

{% endblock %}
