@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap');

:root{
    --main-blue: #13204B;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width:300px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: var(--main-blue);
    color: white;
    font-weight: 600;
}

nav div{
    margin: 20px 0 20px 0;
    display: flex;
}

nav div p {
    margin: 0 20px 0 20px;
}
