{% extends 'base-template.html' %}

{% load static %}

{% block styling %}
<link rel="stylesheet" href="{% static 'daftar-permohonan.css' %}">
{% endblock %}

{% block title %}
Daftar Pemberian
{% endblock %}

{% block content %}
<!-- <form method="post" action="">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="donasi">
</form> -->


<form id="bigform" class="form-daftar2 col-12" action="" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="center">
            <div class="form-field">
                <p>NAMA DONATUR</p>
                <p> {{ form.nama_pemberi }} </p>
            </div>
            <div class="form-field">
                <p>EMAIL</p>
                <p>{{ form.email }}</p>
            </div>
    </div>
    <div class="center">
        <div class="form-field">
            <p>NO TELP</p>
            <p>{{ form.nomor_telp }}</p>
        </div>
        <div class="form-field">
                <p>JUMLAH UANG</p>
                <p>{{ form.jumlah_uang }}</p>
            </div>
    </div>
    <div class="center">
        <div class="form-field">
            <p>KARTU KREDIT</p>
            <p>{{ form.kartu_kredit }}</p>
        </div>
    </div>

    <input class="submit" type="submit" value="SUBMIT">
</form>

{% endblock %}
