{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static  'base.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    {% block styling %}{% endblock %}
	<link rel="stylesheet" href="https://m.w3newbie.com/you-tube.css">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <nav id="navbar" class="navbar navbar-expand-md navbar-light bg-light sticky-top">
        <div class="container">
            <a class="navbar-brand" href="{% url 'homepage' %}"><img id="logonavbar" class="logo" src="{% static 'donatsibiru.png' %}"></a>
    
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
    
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage' %}">Recommendations</a>
                    </li>
    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'tentang-kami:about' %}">About Us</a>
                        </li>
    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'permohonan:list-permohonan' %}">All Donations</a>
                        </li>
                    
                    <li class="nav-item">
                            <a class="nav-link" href="{% url 'permohonan:daftar-permohonan' %}">Open Donations</a>
                        </li>
                </ul>
                
            </div>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
</body>
</html>
